// Pines del Dock 60033
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "sw[11]" C11; // a: J4 pin 5
IO_PORT "sw[11]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[10]" C10; // b: J4 pin 6
IO_PORT "sw[10]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[9]" B11; // c: J4 pin 7
IO_PORT "sw[9]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[8]" B10; // d: J4 pin 8
IO_PORT "sw[8]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[7]" D11; // A[3]: J4 pin 9
IO_PORT "sw[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[6]" D10; // A[2]: J4 pin 10
IO_PORT "sw[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[5]" G11; // A[1]: J4 pin 11
IO_PORT "sw[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[4]" G10; // A[0]: J4 pin 12
IO_PORT "sw[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[3]" L5; // B[3]: J5 pin 5
IO_PORT "sw[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[2]" K5; // B[2]: J5 pin 6
IO_PORT "sw[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[1]" K11; // B[1]: J5 pin 7
IO_PORT "sw[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[0]" L11; // B[0]: J5 pin 8
IO_PORT "sw[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw[12]" E11; // en: J5 pin 9
IO_PORT "sw[12]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "rst_n" E10; // reset: J5 pin 10
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "led[6]" H5; // v: J6 pin 5
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[5]" J5; // u: J6 pin 6
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[4]" H8; // flag_q: J6 pin 7
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[3]" H7; // Q[3]: J6 pin 8
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[2]" G7; // Q[2]: J6 pin 9
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[1]" G8; // Q[1]: J6 pin 10
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "led[0]" F5; // Q[0]: J6 pin 11
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
